/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/menu.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#menu {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 -5px 10px rgba(1, 1, 1, 0.1);
}
#menu nav {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#menu nav .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #010101;
}
#menu nav .menu-item.new {
  color: #2a81dd;
}
#menu nav .menu-item i {
  width: 20px;
  height: 20px;
}
#menu nav .menu-item i.home {
  content: url(/_next/static/media/house-solid.783a6aa7.svg);
}
#menu nav .menu-item i.new {
  content: url(/_next/static/media/square-plus-solid-blue.080dacf4.svg);
}
#menu nav .menu-item i.about {
  content: url(/_next/static/media/lightbulb-solid.3fc91e6d.svg);
}
#menu nav .menu-item i.phonebook {
  content: url(/_next/static/media/address-book-solid.db91f56d.svg);
}
#menu nav.top {
  padding: 8px 16px;
  background-color: #fc6;
}
#menu nav.top .menu-item {
  width: 50%;
  font-size: 14px;
  font-weight: 500;
  color: #010101;
}
#menu nav.top .menu-item:first-of-type {
  border-right: 1px solid #010101;
}
@media (min-width: 992px) {
  #menu {
    display: none;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/pagination.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.pagination {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 24px auto 48px;
}
.pagination .pagination-item {
  border-radius: 4px;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination .pagination-item:hover {
  background: rgba(204, 204, 204, 0.3);
}
.pagination .pagination-item.current {
  background: #2a81dd;
  color: #ffffff;
}
.pagination .pagination-item i {
  width: 12px;
  height: 12px;
}
.pagination .pagination-item.prev i {
  content: url(/_next/static/media/chevron-left-black.e5d74bc0.svg);
}
.pagination .pagination-item.next i {
  content: url(/_next/static/media/chevron-right-black.d4e18c2a.svg);
}
.pagination .pagination-item.ellipsis:hover {
  background: none;
}
.pagination .pagination-item.ellipsis i {
  content: url(/_next/static/media/ellipsis-black.03fc0b39.svg);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/post.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#posts {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#posts .heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#posts .posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#posts .posts #sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #010101;
}
#posts .posts #sort span {
  cursor: pointer;
  color: #2a81dd;
  padding: 4px 5px;
}
#posts .posts #sort span.active {
  color: #010101;
  padding: 4px 4px;
  border: 1px solid #fc6;
  border-radius: 4px;
}
#posts .posts .postcard {
  border-bottom: 0.5px solid #CCCCCC;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
#posts .posts .postcard .postimage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 280/175;
  border-radius: 4px;
  background: #CCCCCC;
}
#posts .posts .postcard .postimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#posts .posts .postcard .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#posts .posts .postcard .info .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
#posts .posts .postcard .info .top .title {
  color: #2a81dd;
}
#posts .posts .postcard .info .top .title:first-letter {
  text-transform: uppercase;
}
#posts .posts .postcard .info .top .price {
  color: #010101;
}
#posts .posts .postcard .info .addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
#posts .posts .postcard .info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
#posts .posts .postcard .info .date {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
}
@media (min-width: 576px) {
  #posts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #posts .heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #posts .posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #posts .posts #sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #010101;
  }
  #posts .posts #sort span {
    cursor: pointer;
    color: #2a81dd;
    padding: 4px 5px;
  }
  #posts .posts #sort span.active {
    color: #010101;
    padding: 4px 4px;
    border: 1px solid #fc6;
    border-radius: 4px;
  }
  #posts .posts .postcard {
    border-bottom: 0.5px solid #CCCCCC;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    cursor: pointer;
  }
  #posts .posts .postcard .postimage {
    overflow: hidden;
    width: 280px;
    height: 175px;
    min-width: 280px;
    border-radius: 4px;
    background: #CCCCCC;
  }
  #posts .posts .postcard .postimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #posts .posts .postcard .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  #posts .posts .postcard .info .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  #posts .posts .postcard .info .top .title {
    color: #2a81dd;
  }
  #posts .posts .postcard .info .top .title:first-letter {
    text-transform: uppercase;
  }
  #posts .posts .postcard .info .top .price {
    color: #010101;
  }
  #posts .posts .postcard .info .addres {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  #posts .posts .postcard .info .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #posts .posts .postcard .info .date {
    padding-top: 0;
    margin-top: auto;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
  }
}

.postsmall {
  display: none;
}
@media (min-width: 992px) {
  .postsmall {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .postsmall .postimage {
    width: 100%;
    aspect-ratio: 252/175;
    background: #CCCCCC;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  .postsmall .postimage .price {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    background: rgba(1, 1, 1, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .postsmall .postimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .postsmall .title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #010101;
  }
}

#post {
  position: relative;
}
#post .mobile-phone {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: green;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
#post .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
#post .content .title {
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 16px;
  border-bottom: 1px solid #CCCCCC;
}
#post .content .title:first-letter {
  text-transform: uppercase;
}
#post .content .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#post .content .info .sidebar {
  display: none;
}
#post .content .info .sidebar .sidebar-content {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#post .content .info .sidebar .sidebar-content .price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
#post .content .info .sidebar .sidebar-content .parameters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#post .content .info .sidebar .sidebar-content .parameters .parameter {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
#post .content .info .sidebar .sidebar-content .parameters .parameter .label {
  font-size: 14px;
  line-height: 16px;
  color: #656565;
  width: 50%;
  display: flex;
  gap: 4px;
  white-space: nowrap;
}
#post .content .info .sidebar .sidebar-content .parameters .parameter .label .hl {
  width: 100%;
  display: block;
  border-bottom: 0.5px solid #CCCCCC;
}
#post .content .info .sidebar .sidebar-content .parameters .parameter .value {
  width: 50%;
  font-size: 14px;
  line-height: 16px;
  color: #010101;
}
#post .content .info .sidebar .sidebar-content .btn {
  width: 100%;
  background: #2a81dd;
  color: #ffffff;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
#post .content .info .sidebar .sidebar-content .btn i {
  width: 16px;
  height: 16px;
  content: url(/_next/static/media/phone.00d3de4d.svg);
}
#post .content .info .post-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#post .content .info .post-content .price {
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
#post .content .info .post-content .about, #post .content .info .post-content .description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#post .content .info .post-content .about .title, #post .content .info .post-content .description .title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  border: 0;
}
#post .content .info .post-content .realtor {
  background: rgba(204, 204, 204, 0.4);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
}
#post .content .info .post-content .realtor .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
#post .content .info .post-content .realtor .agent {
  font-size: 14px;
  line-height: 16px;
}
#post .content .info .post-content .about .parameters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}
#post .content .info .post-content .about .parameters .mobile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}
#post .content .info .post-content .about .parameters .parameter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
#post .content .info .post-content .about .parameters .parameter .label {
  font-size: 14px;
  line-height: 16px;
  color: #656565;
}
#post .content .info .post-content .about .parameters .parameter .value {
  font-size: 14px;
  line-height: 16px;
  color: #010101;
}
@media (min-width: 992px) {
  #post .mobile-phone {
    display: none;
  }
  #post .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  #post .content .title {
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 16px;
    border-bottom: 1px solid #CCCCCC;
  }
  #post .content .title:first-letter {
    text-transform: uppercase;
  }
  #post .content .info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #post .content .info .sidebar {
    display: block;
  }
  #post .content .info .sidebar .sidebar-content {
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #post .content .info .sidebar .sidebar-content .price {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  #post .content .info .sidebar .sidebar-content .parameters {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #post .content .info .sidebar .sidebar-content .parameters .parameter {
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }
  #post .content .info .sidebar .sidebar-content .parameters .parameter .label {
    font-size: 14px;
    line-height: 16px;
    color: #656565;
    width: 50%;
    display: flex;
    gap: 4px;
    white-space: nowrap;
  }
  #post .content .info .sidebar .sidebar-content .parameters .parameter .label .hl {
    width: 100%;
    display: block;
    border-bottom: 0.5px solid #CCCCCC;
  }
  #post .content .info .sidebar .sidebar-content .parameters .parameter .value {
    width: 50%;
    font-size: 14px;
    line-height: 16px;
    color: #010101;
  }
  #post .content .info .sidebar .sidebar-content .realtor {
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #post .content .info .sidebar .sidebar-content .realtor .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  #post .content .info .sidebar .sidebar-content .realtor .agen {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  #post .content .info .sidebar .sidebar-content .realtor .btn {
    width: 100%;
    background: #2a81dd;
    color: #ffffff;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
  }
  #post .content .info .sidebar .sidebar-content .realtor .btn i {
    width: 16px;
    height: 16px;
    content: url(/_next/static/media/phone.00d3de4d.svg);
  }
  #post .content .info .post-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #post .content .info .post-content .price {
    display: none;
  }
  #post .content .info .post-content .about, #post .content .info .post-content .description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #post .content .info .post-content .about .title, #post .content .info .post-content .description .title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding: 0;
    border: 0;
  }
  #post .content .info .post-content .realtor {
    display: none;
  }
  #post .content .info .post-content .about .parameters {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
  }
  #post .content .info .post-content .about .parameters .mobile {
    display: none;
  }
  #post .content .info .post-content .about .parameters .parameter {
    width: calc((100% - 48px) / 4);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #post .content .info .post-content .about .parameters .parameter .label {
    font-size: 14px;
    line-height: 16px;
    color: #656565;
  }
  #post .content .info .post-content .about .parameters .parameter .value {
    font-size: 14px;
    line-height: 16px;
    color: #010101;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/loading.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loading {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loading.small {
  padding: 16px 0;
  transform: scale(0.8);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2a81dd;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/advertisements.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#posts .advertcard {
  border-bottom: 0.5px solid #CCCCCC;
  padding-bottom: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
#posts .advertcard .adimage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 280/175;
  border-radius: 4px;
  background: #CCCCCC;
}
#posts .advertcard .adimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#posts .advertcard .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#posts .advertcard .info .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2a81dd;
}
#posts .advertcard .info .title:first-letter {
  text-transform: uppercase;
}
#posts .advertcard .info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #010101;
}
#posts .advertcard .info .tag {
  margin-top: 16px;
  margin-right: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #010101;
  padding: 4px;
  border-radius: 2px;
  background: #fc6;
}
@media (min-width: 576px) {
  #posts .advertcard {
    border-bottom: 0.5px solid #CCCCCC;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    cursor: pointer;
  }
  #posts .advertcard .adimage {
    overflow: hidden;
    width: 280px;
    height: 175px;
    min-width: 280px;
    border-radius: 4px;
    background: #CCCCCC;
  }
  #posts .advertcard .adimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #posts .advertcard .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  #posts .advertcard .info .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2a81dd;
  }
  #posts .advertcard .info .title:first-letter {
    text-transform: uppercase;
  }
  #posts .advertcard .info .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #posts .advertcard .info .tag {
    margin-top: auto;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/sidebar.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar > .content {
  display: flex;
  flex-direction: column !important;
  gap: 24px;
  position: relative;
  top: 20px;
  height: auto;
}
.sidebar > .content .banner {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  padding: 20px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.sidebar > .content .banner .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidebar > .content .banner .action {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
.sidebar > .content .banner .action .btn {
  background: #2a81dd;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
}
.sidebar > .content .banner .action .btn i {
  content: url(/_next/static/media/phone.00d3de4d.svg);
}
.sidebar > .content .banner.large {
  width: 100%;
  aspect-ratio: 9/16;
  background-image: linear-gradient(to bottom, rgba(255, 204, 102, 0), rgba(255, 204, 102, 0), rgba(255, 204, 102, 0.1), rgba(255, 204, 102, 0.8), #ffcc66, #ffcc66), url(/_next/static/media/banner-image2.723efc2f.jpg);
  background-position: center;
  background-size: cover;
  justify-content: flex-end;
  gap: 16px;
}
.sidebar > .content .banner.small {
  width: 100%;
  aspect-ratio: 3/2;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/home.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
#home .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#home .container .smallposts {
  background: #ffffff;
}
#home .container .smallposts .apartments, #home .container .smallposts .houses, #home .container .smallposts .commercials {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#home .container .smallposts .apartments .row, #home .container .smallposts .houses .row, #home .container .smallposts .commercials .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px 16px;
}
#home .container .smallposts .apartments .row .col, #home .container .smallposts .houses .row .col, #home .container .smallposts .commercials .row .col {
  width: 100%;
}
#home .container .smallposts .apartments .row .col .postcard, #home .container .smallposts .houses .row .col .postcard, #home .container .smallposts .commercials .row .col .postcard {
  border-bottom: 0.5px solid #CCCCCC;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
#home .container .smallposts .apartments .row .col .postcard .postimage, #home .container .smallposts .houses .row .col .postcard .postimage, #home .container .smallposts .commercials .row .col .postcard .postimage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 280/175;
  border-radius: 4px;
  background: #CCCCCC;
}
#home .container .smallposts .apartments .row .col .postcard .postimage img, #home .container .smallposts .houses .row .col .postcard .postimage img, #home .container .smallposts .commercials .row .col .postcard .postimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#home .container .smallposts .apartments .row .col .postcard .info, #home .container .smallposts .houses .row .col .postcard .info, #home .container .smallposts .commercials .row .col .postcard .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#home .container .smallposts .apartments .row .col .postcard .info .top, #home .container .smallposts .houses .row .col .postcard .info .top, #home .container .smallposts .commercials .row .col .postcard .info .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
#home .container .smallposts .apartments .row .col .postcard .info .top .title, #home .container .smallposts .houses .row .col .postcard .info .top .title, #home .container .smallposts .commercials .row .col .postcard .info .top .title {
  color: #2a81dd;
}
#home .container .smallposts .apartments .row .col .postcard .info .top .title:first-letter, #home .container .smallposts .houses .row .col .postcard .info .top .title:first-letter, #home .container .smallposts .commercials .row .col .postcard .info .top .title:first-letter {
  text-transform: uppercase;
}
#home .container .smallposts .apartments .row .col .postcard .info .top .price, #home .container .smallposts .houses .row .col .postcard .info .top .price, #home .container .smallposts .commercials .row .col .postcard .info .top .price {
  color: #010101;
}
#home .container .smallposts .apartments .row .col .postcard .info .addres, #home .container .smallposts .houses .row .col .postcard .info .addres, #home .container .smallposts .commercials .row .col .postcard .info .addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
#home .container .smallposts .apartments .row .col .postcard .info .description, #home .container .smallposts .houses .row .col .postcard .info .description, #home .container .smallposts .commercials .row .col .postcard .info .description {
  display: none;
}
#home .container .smallposts .apartments .row .col .postcard .info .date, #home .container .smallposts .houses .row .col .postcard .info .date, #home .container .smallposts .commercials .row .col .postcard .info .date {
  margin-top: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
}
#home .container .smallposts .houses {
  padding-top: 16px;
}
#home .container .mobileposts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#home .container .mobileposts .postcard {
  border-bottom: 0.5px solid #CCCCCC;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
#home .container .mobileposts .postcard .postimage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 280/175;
  border-radius: 4px;
  background: #CCCCCC;
}
#home .container .mobileposts .postcard .postimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#home .container .mobileposts .postcard .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#home .container .mobileposts .postcard .info .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
#home .container .mobileposts .postcard .info .top .title {
  color: #2a81dd;
}
#home .container .mobileposts .postcard .info .top .title:first-letter {
  text-transform: uppercase;
}
#home .container .mobileposts .postcard .info .top .price {
  color: #010101;
}
#home .container .mobileposts .postcard .info .addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
#home .container .mobileposts .postcard .info .description {
  display: none;
}
#home .container .mobileposts .postcard .info .date {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
}
#home .container .mobileposts .advertcard {
  border-bottom: 0.5px solid #CCCCCC;
  padding-bottom: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}
#home .container .mobileposts .advertcard .adimage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 280/175;
  border-radius: 4px;
  background: #CCCCCC;
}
#home .container .mobileposts .advertcard .adimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#home .container .mobileposts .advertcard .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#home .container .mobileposts .advertcard .info .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #2a81dd;
}
#home .container .mobileposts .advertcard .info .title:first-letter {
  text-transform: uppercase;
}
#home .container .mobileposts .advertcard .info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #010101;
}
#home .container .mobileposts .advertcard .info .tag {
  margin-top: 16px;
  margin-right: auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #010101;
  padding: 4px;
  border-radius: 2px;
  background: #fc6;
}
@media (min-width: 992px) {
  #home {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
  #home .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #home .container .smallposts {
    background: #ffffff;
    border: 1px solid #CCCCCC;
  }
  #home .container .smallposts .apartments, #home .container .smallposts .houses, #home .container .smallposts .commercials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
  #home .container .smallposts .apartments .row, #home .container .smallposts .houses .row, #home .container .smallposts .commercials .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px 16px;
  }
  #home .container .smallposts .apartments .row .col, #home .container .smallposts .houses .row .col, #home .container .smallposts .commercials .row .col {
    width: calc((100% - 72px) / 4);
  }
  #home .container .smallposts .houses {
    background: rgba(255, 204, 102, 0.4);
  }
}

#allposts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
#allposts .content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
#allposts .content #posts {
  flex-grow: 1;
}
#allposts .content .sidebar {
  display: none;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
@media (min-width: 992px) {
  #allposts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
  #allposts .content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  #allposts .content #posts {
    flex-grow: 1;
  }
  #allposts .content .sidebar {
    display: flex;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/filter.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#filter {
  background: #fc6;
}
#filter .content {
  width: 100%;
  padding: 20px 0;
}
#filter.simple form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
#filter.simple form .input {
  display: none;
}
#filter.simple form .input.mobile {
  display: flex;
}
#filter.simple form .submit-btn {
  height: 30px;
  width: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #2a81dd;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#filter.apartment, #filter.house, #filter.commercial {
  display: flex;
  flex-direction: column;
  background: none;
}
#filter.apartment .navbar, #filter.house .navbar, #filter.commercial .navbar {
  display: none;
  background: rgba(42, 129, 221, 0.1);
}
#filter.apartment .navbar .nav, #filter.house .navbar .nav, #filter.commercial .navbar .nav {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
#filter.apartment .navbar .nav div, #filter.house .navbar .nav div, #filter.commercial .navbar .nav div {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2a81dd;
}
#filter.apartment .navbar .nav div.active, #filter.house .navbar .nav div.active, #filter.commercial .navbar .nav div.active {
  color: #FF0000;
}
#filter.apartment form, #filter.house form, #filter.commercial form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 204, 102, 0.8);
}
#filter.apartment form .top, #filter.house form .top, #filter.commercial form .top {
  background: #fc6;
}
#filter.apartment form .top .content, #filter.house form .top .content, #filter.commercial form .top .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 20px 0;
}
#filter.apartment form .top .content .not-mobile, #filter.house form .top .content .not-mobile, #filter.commercial form .top .content .not-mobile {
  display: none;
}
#filter.apartment form .middle .content, #filter.house form .middle .content, #filter.commercial form .middle .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0;
}
#filter.apartment form .middle .content .col, #filter.house form .middle .content .col, #filter.commercial form .middle .content .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#filter.apartment form .bottom, #filter.house form .bottom, #filter.commercial form .bottom {
  border-top: #fc6 solid 2px;
}
#filter.apartment form .bottom .content, #filter.house form .bottom .content, #filter.commercial form .bottom .content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
}
#filter.apartment form .bottom .content .clear, #filter.house form .bottom .content .clear, #filter.commercial form .bottom .content .clear {
  display: none;
  position: absolute;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #656565;
  cursor: pointer;
}
#filter.apartment form .bottom .content .submit-btn, #filter.house form .bottom .content .submit-btn, #filter.commercial form .bottom .content .submit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: #2a81dd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
  gap: 10px;
}
@media (min-width: 992px) {
  #filter .content {
    width: 100%;
    padding: 20px 0;
  }
  #filter.simple form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  #filter.simple form .input {
    display: flex;
  }
  #filter.simple form .submit-btn {
    height: 30px;
    width: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background: #2a81dd;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #filter.apartment, #filter.house, #filter.commercial {
    display: flex;
    flex-direction: column;
    background: none;
  }
  #filter.apartment .navbar, #filter.house .navbar, #filter.commercial .navbar {
    display: block;
    background: rgba(42, 129, 221, 0.1);
  }
  #filter.apartment .navbar .nav, #filter.house .navbar .nav, #filter.commercial .navbar .nav {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  #filter.apartment .navbar .nav div, #filter.house .navbar .nav div, #filter.commercial .navbar .nav div {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2a81dd;
  }
  #filter.apartment .navbar .nav div.active, #filter.house .navbar .nav div.active, #filter.commercial .navbar .nav div.active {
    color: #FF0000;
  }
  #filter.apartment form, #filter.house form, #filter.commercial form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 204, 102, 0.8);
  }
  #filter.apartment form .top, #filter.house form .top, #filter.commercial form .top {
    background: #fc6;
  }
  #filter.apartment form .top .content, #filter.house form .top .content, #filter.commercial form .top .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
  }
  #filter.apartment form .top .content .not-mobile, #filter.house form .top .content .not-mobile, #filter.commercial form .top .content .not-mobile {
    display: block;
  }
  #filter.apartment form .top .content .mobile, #filter.house form .top .content .mobile, #filter.commercial form .top .content .mobile {
    display: none;
  }
  #filter.apartment form .middle .content, #filter.house form .middle .content, #filter.commercial form .middle .content {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 20px 0;
  }
  #filter.apartment form .middle .content .col, #filter.house form .middle .content .col, #filter.commercial form .middle .content .col {
    width: 33.3333333333%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  #filter.apartment form .bottom, #filter.house form .bottom, #filter.commercial form .bottom {
    border-top: #fc6 solid 2px;
  }
  #filter.apartment form .bottom .content, #filter.house form .bottom .content, #filter.commercial form .bottom .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px 0;
  }
  #filter.apartment form .bottom .content .clear, #filter.house form .bottom .content .clear, #filter.commercial form .bottom .content .clear {
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #656565;
    cursor: pointer;
  }
  #filter.apartment form .bottom .content .submit-btn, #filter.house form .bottom .content .submit-btn, #filter.commercial form .bottom .content .submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background: #2a81dd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
    gap: 10px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/inputs.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #010101;
}
.input input {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #010101;
}
.input.select {
  display: flex;
  align-items: center;
  gap: 8px;
}
.input.select .select {
  width: 140px;
  position: relative;
  cursor: pointer;
}
.input.select .select .selected {
  width: 100%;
  padding: 4px 16px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 0.5px solid #CCCCCC;
  border-radius: 8px;
}
.input.select .select .selected .val {
  overflow: hidden;
  white-space: nowrap;
}
.input.select .select .selected i {
  content: url(/_next/static/media/arrow-down.633eb944.svg);
}
.input.select .select .options {
  display: none;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  top: 100%;
  z-index: 100;
  background: #ffffff;
  border: 0.5px solid #CCCCCC;
  border-radius: 8px;
}
.input.select .select .options.active {
  display: flex;
}
.input.select .select .options .option {
  height: 30px;
  white-space: nowrap;
  padding: 4px 16px;
  display: flex;
  align-items: center;
}
.input.select .select .options .option.active, .input.select .select .options .option:hover {
  background-color: rgba(204, 204, 204, 0.6);
}
.input.select.labeled {
  justify-content: space-between;
  width: 100%;
}
.input.select.labeled label {
  width: 160px;
  text-align: left;
}
.input.select.labeled .select {
  width: 160px;
}
.input.multiselect {
  display: flex;
  align-items: center;
  gap: 8px;
}
.input.multiselect .select {
  width: 140px;
  position: relative;
  cursor: pointer;
}
.input.multiselect .select .selected {
  width: 100%;
  padding: 4px 16px;
  height: 30px;
  gap: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 0.5px solid #CCCCCC;
  border-radius: 8px;
}
.input.multiselect .select .selected .val {
  overflow: hidden;
  white-space: nowrap;
}
.input.multiselect .select .selected i {
  content: url(/_next/static/media/arrow-down.633eb944.svg);
}
.input.multiselect .select .options {
  display: none;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  top: 100%;
  right: 0;
  z-index: 100;
  background: #ffffff;
  border: 0.5px solid #CCCCCC;
  border-radius: 8px;
}
.input.multiselect .select .options.active {
  display: flex;
}
.input.multiselect .select .options .option {
  height: 30px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}
.input.multiselect .select .options .option .checkbox {
  width: 16px;
  height: 16px;
  content: url(/_next/static/media/square-regular.948cf015.svg);
}
.input.multiselect .select .options .option.active {
  background-color: rgba(204, 204, 204, 0.4);
}
.input.multiselect .select .options .option.active .checkbox {
  content: url(/_next/static/media/square-check-solid.736c489c.svg);
}
.input.multiselect .select .options .option:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
.input.multiselect.labeled {
  justify-content: space-between;
  width: 100%;
}
.input.multiselect.labeled label {
  width: 160px;
  text-align: left;
}
.input.multiselect.labeled .select {
  width: 160px;
}
.input.multinumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.input.multinumber .numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
  border-radius: 8px;
  height: 30px;
  border: 0.5px solid #CCCCCC;
}
.input.multinumber .numbers .number {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 30px;
  border-right: 0.5px solid #CCCCCC;
}
.input.multinumber .numbers .number.active, .input.multinumber .numbers .number:hover {
  background: rgba(204, 204, 204, 0.6);
}
.input.number-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.input.number-range input {
  width: 100px;
  height: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border: 0.5px solid #CCCCCC;
  border-radius: 8px;
}
.input.number-range .hl {
  height: 1px;
  width: 10px;
  background: #010101;
}
.input.number-range.labeled {
  width: 100%;
}
.input.number-range.labeled label {
  width: 160px;
  text-align: left;
  margin-right: auto;
}
.input.number-range.labeled label.last {
  margin-right: 0;
  width: auto;
  height: 100%;
  text-align: left;
}
.input.number-range.labeled input {
  width: 60px;
}
@media (min-width: 992px) {
  .input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #010101;
  }
  .input input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #010101;
  }
  .input.select {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .input.select .select {
    width: 140px;
    position: relative;
    cursor: pointer;
  }
  .input.select .select .selected {
    width: 100%;
    padding: 4px 16px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 0.5px solid #CCCCCC;
    border-radius: 8px;
  }
  .input.select .select .selected .val {
    overflow: hidden;
    white-space: nowrap;
  }
  .input.select .select .selected i {
    content: url(/_next/static/media/arrow-down.633eb944.svg);
  }
  .input.select .select .options {
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    top: 100%;
    z-index: 100;
    background: #ffffff;
    border: 0.5px solid #CCCCCC;
    border-radius: 8px;
  }
  .input.select .select .options.active {
    display: flex;
  }
  .input.select .select .options .option {
    height: 30px;
    white-space: nowrap;
    padding: 4px 16px;
    display: flex;
    align-items: center;
  }
  .input.select .select .options .option.active, .input.select .select .options .option:hover {
    background-color: rgba(204, 204, 204, 0.6);
  }
  .input.select.labeled label {
    width: 160px;
    text-align: right;
  }
  .input.select.labeled .select {
    width: 160px;
  }
  .input.multiselect {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .input.multiselect .select {
    width: 140px;
    position: relative;
    cursor: pointer;
  }
  .input.multiselect .select .selected {
    width: 100%;
    padding: 4px 16px;
    height: 30px;
    gap: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 0.5px solid #CCCCCC;
    border-radius: 8px;
  }
  .input.multiselect .select .selected .val {
    overflow: hidden;
    white-space: nowrap;
  }
  .input.multiselect .select .selected i {
    content: url(/_next/static/media/arrow-down.633eb944.svg);
  }
  .input.multiselect .select .options {
    display: none;
    flex-direction: column;
    position: absolute;
    min-width: 100%;
    top: 100%;
    z-index: 100;
    background: #ffffff;
    border: 0.5px solid #CCCCCC;
    border-radius: 8px;
  }
  .input.multiselect .select .options.active {
    display: flex;
  }
  .input.multiselect .select .options .option {
    height: 30px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
  }
  .input.multiselect .select .options .option .checkbox {
    width: 16px;
    height: 16px;
    content: url(/_next/static/media/square-regular.948cf015.svg);
  }
  .input.multiselect .select .options .option.active {
    background-color: rgba(204, 204, 204, 0.4);
  }
  .input.multiselect .select .options .option.active .checkbox {
    content: url(/_next/static/media/square-check-solid.736c489c.svg);
  }
  .input.multiselect .select .options .option:hover {
    background-color: rgba(204, 204, 204, 0.4);
  }
  .input.multiselect.labeled label {
    width: 160px;
    text-align: right;
  }
  .input.multiselect.labeled .select {
    width: 160px;
  }
  .input.multinumber {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .input.multinumber .numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
    border-radius: 8px;
    height: 30px;
    border: 0.5px solid #CCCCCC;
  }
  .input.multinumber .numbers .number {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 30px;
    border-right: 0.5px solid #CCCCCC;
  }
  .input.multinumber .numbers .number.active, .input.multinumber .numbers .number:hover {
    background: rgba(204, 204, 204, 0.6);
  }
  .input.number-range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .input.number-range input {
    width: 100px;
    height: 30px;
    padding: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #ffffff;
    border: 0.5px solid #CCCCCC;
    border-radius: 8px;
  }
  .input.number-range .hl {
    height: 1px;
    width: 10px;
    background: #010101;
  }
  .input.number-range.labeled label {
    width: 160px;
    text-align: right;
  }
  .input.number-range.labeled label.last {
    width: auto;
    height: 100%;
    text-align: left;
  }
  .input.number-range.labeled input {
    width: 60px;
  }
}

.textarea .wrapper-class {
  border: 1px solid #010101;
  border-radius: 4px;
  overflow: hidden;
}
.textarea .toolbar-class {
  padding: 6px 5px;
  margin: 0;
}
.textarea .editor-class {
  border-top: 1px solid #010101;
  background: #ffffff;
  padding: 16px;
}
