@use './variables' as v;
@import './adaptive';

footer{
    padding-top: 24px;
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 24px 16px 48px;
        gap: 10px;

        width: 1080px;
        height: 88px;

        border-top: 0.5px solid rgba($color: v.$dark_grey, $alpha: .5);
        .copyright{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: v.$dark_grey;
            text-align: center;
        }
    }
}