@use './variables' as v;
@import './adaptive';

#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .smallposts{
            background: v.$white;
            // border: 1px solid v.$light_grey;
            .apartments, .houses, .commercials{
                display: flex;
                flex-direction: column;
                gap: 16px;
                // padding: 16px;
                .row{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 24px 16px;
                    .col{
                        width: 100%;
                        .postcard{
                            border-bottom: .5px solid v.$light_grey;
                            padding-bottom: 16px;
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            cursor: pointer;
                            .postimage{
                                overflow: hidden;
                                width: 100%;
                                aspect-ratio: 280 / 175;
                                // min-width: 280px;
                                border-radius: 4px;
                                background: v.$light_grey;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .info{
                                display: flex;
                                flex-direction: column;
                                flex-grow: 1;
                                .top{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                    
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 20px;
                                    .title{
                                        color: v.$blue;
                                        &:first-letter {
                                            text-transform: uppercase;
                                        }
                                    }
                                    .price{
                                        color: v.$black;
                                    }
                                }
                                .addres{
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 16px;
                                }
                                .description{
                                    display: none;
                                }
                                .date{
                                    margin-top: auto;
                                    margin-left: auto;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .houses{
                padding-top: 16px;
                // background: rgba($color: v.$yellow, $alpha: .4);
            }
        }
        .mobileposts{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .postcard{
                border-bottom: .5px solid v.$light_grey;
                padding-bottom: 16px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                cursor: pointer;
                .postimage{
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 280 / 175;
                    // min-width: 280px;
                    border-radius: 4px;
                    background: v.$light_grey;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    .top{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
        
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        .title{
                            color: v.$blue;
                            &:first-letter {
                                text-transform: uppercase;
                            }
                        }
                        .price{
                            color: v.$black;
                        }
                    }
                    .addres{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    .description{
                        display: none;
                    }
                    .date{
                        margin-top: auto;
                        margin-left: auto;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    @include _lg{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        .container{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .smallposts{
                background: v.$white;
                border: 1px solid v.$light_grey;
                .apartments, .houses, .commercials{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding: 16px;
                    .row{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        gap: 24px 16px;
                        .col{
                            width: calc((100% - 72px) / 4);
                        }
                    }
                }
                .houses{
                    background: rgba($color: v.$yellow, $alpha: .4);
                }
            }
        }
    }
}

#allposts{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    .content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        #posts{
            flex-grow: 1;
        }
        .sidebar{
            display: none;
            width: 300px;
            min-width: 300px;
            max-width: 300px;
        }
    }
    @include _lg{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        .content{
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            #posts{
                flex-grow: 1;
            }
            .sidebar{
                display: flex;
                width: 300px;
                min-width: 300px;
                max-width: 300px;
            }
        }   
    }
}